*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 50px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, black);
}

.container .box {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #19dd4a 10%, transparent 10%, transparent 50%, #21f054 50%, #15ff50 60%, transparent 60%, transparent 100%);
    box-shadow: rgba(8, 235, 129, 0.3) -5px 5px, rgba(8, 235, 129, 0.3) -10px 10px, rgba(18, 243, 138, 0.3) -15px 15px, rgba(8, 235, 129, 0.3) -20px 20px, rgba(8, 235, 129, 0.3) -25px 25px;
    background-size: 40px 40px;
    border-radius: 20px;
}

.container .box:hover {
    background-color: repeating-linear-gradient(90deg, #3f5efb, #fc466b, 40%);
    transition-duration: 2s;
    animation: animate 0.5s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40px;
    }
}
/*background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);*/